@use 'sass:color';

$base-color: #036;

@for $i from 1 through 3 {
  ul:nth-child(3n + #{$i}) {
    background-color: color.adjust(
      $base-color,
      $hue: 180,
      $lightness: $i * 15%
    );
  }
}
