$orange-500: #ff760c;
$orange-300: rgba($orange-500, 0.3);
$blue-500: #0000ff;

body {
  font-family: sans-serif;
  margin: 0;
  background-color: $blue-500;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange-500;
  height: 100px;

  h1 {
    margin: 10px;
  }
}

section {
  background-color: $orange-300;
  height: calc(100vh - 200px);
}
