@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if ($circle) {
    border-radius: $size / 2;
  } @else {
    border-radius: 4px;
  }
}

.photo {
  @include avatar(150px, $circle: false);
}
